[envvars]
TZ = "Asia/Shanghai"
TERM = "xterm"
# this doesn't help with Python itself; please set externally if desirable
# LANG = "zh_CN.UTF-8"

[repository]
name = "archlinuxcn"
email = "repo@example.com"
repodir = "/path/to/gitrepo"
# The path where built packages and signatures are copied to
# comment out if there's no need to copy built packages
destdir = "/path/to/pkgdir"

[lilac]
name = "lilac"
email = "lilac@example.com"
master = "Your Name <youremail@example.com>"
# Set and unsubscribe_address to receive unsubscribe requests
# unsubscribe_address = "unsubscribe@example.com"
# Set to yes to automatically rebuild packages which failed to build last time
rebuild_failed_pkgs = true
git_push = false
send_email = false
# Optional: template for log file URL. Used in package error emails
logurl = "https://example.com/${pkgbase}/${datetime}.html"
# for searching github
# github_token = "xxx"

# keep build logs; you need to manually run the script "scripts/dbsetup.sql" once
# requires SQLAlchemy and a corresponding driver
# dburl = "postgresql:///"
max_concurrency = 1

[nvchecker]
# set proxy for nvchecker
proxy = "http://localhost:8000"

[smtp]
# You can configure a SMTP account here; it defaults to localhost:53
#host = ""
#port = 0
#use_ssl = false
#username = ""
#password = ""
# Set to true to allow ANSI characters in content
#use_ansi = false

[bindmounts]
# bind mounts in the devtools environment, e.g. for caching
# source directories will be created if not yet
"~/.cache/archbuild-bind-cache" = "/build/.cache"
"~/.cache/archbuild-bind-cache/stack" = "/build/.stack"
"~/.cache/go-build" = "/build/.cache/go-build"
"~/.cache/pip" = "/build/.cache/pip"
"~/.cargo" = "/build/.cargo"
"~/go" = "/build/go"

# vim: se ft=toml:
