[enviroment variables]
TZ = Asia/Shanghai
LANG = zh_CN.UTF-8
TERM = xterm
# to raise the rate limit for GitHub API
NVCHECKER_GITHUB_TOKEN =

[lilac]
name = lilac
email = lilac@example.com
master = Your Name <youremail@example.com>
log_to_file = off

[repository]
email = repo@example.com
repodir = /path/to/gitrepo
destdir = /path/to/pkgdir

# vim: se ft=dosini:
