[enviroment variables]
TZ = Asia/Shanghai
TERM = xterm
# this doesn't help with Python itself; please set externally if desirable
# LANG = zh_CN.UTF-8
# to raise the rate limit for GitHub API set the following variable
# NVCHECKER_GITHUB_TOKEN =

[repository]
email = repo@example.com
repodir = /path/to/gitrepo
destdir = /path/to/pkgdir

[lilac]
name = lilac
email = lilac@example.com
master = Your Name <youremail@example.com>
try_rebuild = yes
log_to_file = no
git_push = no
send_email = no

[smtp]
# You can configure a SMTP account here; it defaults to localhost:53
#host =
#port =
#use_ssl = no
#username =
#password =

# vim: se ft=dosini:
